@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0%;
    padding: 0%;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: rgb(69, 69, 192);
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-wrap: wrap;
}

input {
    height: 5.5vh;
    width: 15vw;
    border: orange solid 2px;
    border-radius: 0.5rem;
}

#botao {
    height: 5.5vh;
    width: 7vw;
    border: orange solid 2px;
    background-color: orange;
    color: white;
    border-radius: 0.5rem;
}

.demo-card-wide.mdl-card.mdl-shadow--2dp {
    margin: 1rem 7rem; 
    margin-left:8px; 
    width: 25vw;
    height: 40vh;
    font-size: 1rem;
    justify-content: center;
}

button {
    margin: 0em 0.18em;
    height: 5.5vh;
    width: 8vw;
    border: orange solid 1px;
    background-color: rgb(69, 69, 192); 
    color: white;
    border-radius: 0.5rem;
}